/* GeoServerBasePage( GeoServer 전체에 적용 ) */


div#header h2 a{
	
	background: url(../img/gaialogo.png) no-repeat;
}

/*ul#navigation>li {
	display:none;
}

ul#navigation>li:nth-child(1){
	display:block;
} */ 

ul#navigation>li:nth-child(2) ~ li{
	display:none;
}
ul#navigation>li:nth-child(6){
	display:block !important;
}