/* GeoServerBasePage( GeoServer 전체에 적용 ) */


div#header h2 a{
	
	background: url(../img/logo.png) no-repeat;
	background-size: 215px;
	width : 250px;
	height: 70px;
	
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

/*ul#navigation>li {
	display:none;
}

ul#navigation>li:nth-child(1){
	display:block;
} */ 

ul#navigation>li:nth-child(2) ~ li{
	display:none;
}
ul#navigation>li:nth-child(6){
	display:block !important;
}

/* general css */

h1 {
font-size: 2.3em;
color:#000;
padding-left:20px;
font-family:"돋움";
background:url(../img/h1_bullet.png) no-repeat left 40%;
}

a {
	color : #333
}

a:hover {
	color : #cc6d00;
	text-decoration:none;
}

/* structual elements */
#header {
	border-top: 3px solid #526199;
	border-bottom : 1px dotted #526199;
    padding-top: 0px;
	background : #f5f7fb;
	height : 80px;
}

#main {
	border-top : none;
	background : none;
}

#main .wrap {
	background : none ;
}

#page {
	background : none ;
}
.page-header {
	background : none;
}

/* new tables css */
thead th {
	background : #526199;
	color : #fff;
}

thead th div a {
color:#FFF !important;
}

tr:hover td,
tbody tr:hover th {
background: #c6d9ff;
}

tr.even td,
tr.even th {
	background: #edf3ff; 
}

tr.even:hover td,
tr.even:hover th {
	background: #c6d9ff;
}

/* button css */

#header .button-group{
	padding : 4em 0 0;	
}

.button-group a,
.button-group button,
input.btnTxt {
background: #4a4e5b;
border: none;
color: #fff;
}

.button-group a:hover,
.button-group button:hover,
input.btnTxt:hover {
	background-color: #526199;
	color : #fff
}

/* new sidebar css */
.navigation-tab {
	border-bottom: 1px solid #a6b0d3;
}
.navigation-tab-single,
.navigation-tab-header {
	color: #526199;
}

.navigation-tab-single a,
.navigation-tab-header a,
.navigation-tab-content a {
	color: #526199;
}

.paginator a,
.paginator em {
	border : none;
}

div#capabilities {
	display : none;
}

em, dfn {font-style:normal;}



