<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

 <beans>
 <!--  <bean id="gaiaCategory" class="org.geoserver.web.Category">
    <property name="nameKey" value="gaiaCategory.title" />
    <property name="order" value="10" />
  </bean> 
 
    <bean id="WelcomePage" class="org.geoserver.web.MenuPageInfo">
      <property name="id" value="WelcomePage"/>
      <property name="titleKey" value="WelcomePage.page.title"/>
      <property name="descriptionKey" value="WelcomePage.page.description"/>
      <property name="componentClass" value="org.geoserver.page.WelcomePage"/>
      <property name="category" ref="gaiaCategory"></property>
      <property name="icon" value="img/information.png" />
      <property name="order" value="10" />
    </bean>
    
     <bean id="InfoPage" class="org.geoserver.web.MenuPageInfo">
      <property name="id" value="InfoPage"/>
      <property name="titleKey" value="InfoPage.page.title"/>
      <property name="descriptionKey" value="InfoPage.page.description"/>
      <property name="componentClass" value="org.geoserver.page.InfoPage"/>
      <property name="category" ref="gaiaCategory"></property>
      <property name="icon" value="img/information.png" />
      <property name="order" value="20" />
    </bean>  -->	
</beans>